<head>
    <meta charset="utf-8">
    <title>Planning Poker</title>
    <meta name="description" content="">
</head>

<h2>Pick your Card:</h2>

<ul>
    <% cards.forEach(function(card) { %>
        <li><a href="card?currentCard=<%= card %>"><%= card %></a></li>
    <% }); %>
</ul>